extends layout

block content
  h1 Add Skill

  form(method="POST")
  label Title
    input(type="text", name="name", placeholder="Skill")
    input(type="text", name="level", placeholder="Level")
    input(type="text", name="category", placeholder="Category")
    button(type="submit") Save